# docker-compose.yaml

version: '3.8'
services: 

  main:
    image: docker.nexus.diesel.net/{{ git_repository }}:{{ git_branch }}-latest
    
    environment:
      - TITLE=Kiwi Labs
      - PRODUCT_NAME=Kiwi Labs
      - CATCHY_PHRASE=Homelabbity labbity teee <3
      - GITHUB_URL=https://github.com/Diesel-Net
    deploy:
      labels:
        - traefik.enable=true
        - traefik.http.services.coming-soon.loadbalancer.server.port=80
        - traefik.http.routers.coming-soon.rule=HostRegexp(`{{ proxy_domains | join('`,`') }}`)
        - traefik.http.routers.coming-soon.tls.certresolver=step-ca
    networks:
      - {{ docker_network }}

networks:
  {{ docker_network }}:
    external:
      name: {{ docker_network }}
