# docker-compose.yaml

version: '3.8'
services: 

  main:
    image: docker.nexus.diesel.net/{{ git_repository }}:{{ git_branch }}-latest
    
    environment:
      - TITLE=Kiwi Labs
      - PRODUCT_NAME=Kiwi Labs
      - NOTICE_TEXT=We're sorry, the site is currently down for maintenance.
      - GITHUB_URL=https://github.com/Diesel-Net
    deploy:
      labels:
        - traefik.enable=true
        - traefik.http.services.coming-soon.loadbalancer.server.port=80
        - traefik.http.routers.coming-soon.rule=HostRegexp(`{{ proxy_domains | join('`,`') }}`)
        - traefik.http.routers.coming-soon.tls.certresolver=step-ca
        - traefik.http.routers.coming-soon.tls.domains[0].main=proxy_domains[0]
        - traefik.http.routers.coming-soon.tls.domains[0].sans=proxy_domains[0]
    networks:
      - {{ docker_network }}

networks:
  {{ docker_network }}:
    external:
      name: {{ docker_network }}
